---
import Section from "./Section.astro";
---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  id="cybertruck"
>
  <div class="z-30 relative h-full flex flex-col">
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto flex-wrap gap-y-6 justify-center">
        <a
          class="min-w-[258px] bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
          href="#"
        >
          Explorar inventario</a
        >
        <a
          class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
          href="#"
        >
          Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      alt="Cybertruck"
      class="h-full w-full object-cover object-center bg-image"
      src="cybertruckd.avif"
      id="bg-image-cybertruck"
    />
  </div>
</section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-cybertruck"
  ) as HTMLImageElement;

  function handleImage() {
    var width = window.matchMedia("(max-width: 600px)");
    if (isEdge()) {
      if (width.matches || window.innerWidth < 600) {
        imageElement.src =
          "https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Mobile-LHD-6.22.jpg";
      } else {
        imageElement.src = "model-y.webp";
      }
    } else {
      if (width.matches) {
        imageElement.src = "cybertruckm.avif";
      } else {
        imageElement.src = "cybertruckd.avif";
      }
    }
  }

  // Add this event listener to call the function when the window is resized
  window.addEventListener("resize", handleImage);
  window.addEventListener("load", handleImage);
</script>
