<footer
  class="py-3 relative w-full min-h-3 px-10 flex justify-center items-center z-40 text-gray-600 text-xs font-medium"
  id="landing-footer"
  z-index-40
  w-full
>
  <nav>
    <ul
      class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2 flex-wrap"
    >
      <li><a href="#">Tesla © 2023</a></li>
      <li><a href="#">Privacy & Legal</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Vehicle Recalls</a></li>
      <li><a href="#">Get Updates</a></li>
    </ul>
  </nav>
</footer>
